<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
{% load static %}
<script src="{% static "jq/external/jquery/jquery.js" %}"></script>
<script src="{% static "jq/jquery-ui.min.js" %}"></script>
<link href="{% static  "themes/humanity/jquery-ui.min.css" %}" rel="stylesheet" type="text/css" />
{% block my_script %}{% endblock %}
 
</head>
<div style="padding: 5em 1em; text-align: center;" >
{% include "menu.html" %}
{%block content %}{% endblock %}
</div>
</html>
