{% extends "base.html" %}
{% block title %} История операций {% endblock %}
{% block content %}
{% load temp %}
{% load static %}
<link href="{% static 'admin/css/forms.css' %}" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="/admin/jsi18n/"></script >
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
<br><br><br><br>
<form action="/history/" method="post">
{% csrf_token %}
{{ date_input }}
<input type="submit" value="Ok" />
</form>
{{ log|get_summ}}

<table style="margin: 0 auto;">
<td class='ui-widget-header' >Дата</td>
<td class='ui-widget-header' >Пользователь</td>
<td class='ui-widget-header' >Вид товара</td>
<td class='ui-widget-header'>Название</td>
<td class='ui-widget-header'>Действие</td>
<td class='ui-widget-header'>Фото</td>
<td class='ui-widget-header'>Цена</td><tr>
{% for i in log %}

<td class='ui-widget-content'>{{i.dates}}</td>
<td class='ui-widget-content'>{{i.user_id.first_name}} {{i.user_id.last_name}}</td>
<td class='ui-widget-content'>{{i.product_id.product_type}}</td>
<td class='ui-widget-content'>{{i.product_id.name}}</td>
<td class='ui-widget-content'>{{i.action|yesno:"Продажа,Возврат"}}</td>
<td class='ui-widget-content'><a href={{MEDIA_URL}}/{{i.product_id.photo}} rel="lightbox">{{i.product_id.get_thum_256}}</a></td>
{% if i.money_out > 0 %}
<td class='ui-widget ui-state-error'>-{{i.money_out}}</td><tr>
{% endif %}
{% if i.money_in > 0 %}
<td class='ui-widget-content'>{{i.money_in}} {% if i.discont > 0 %} (Скидка {{i.discont}} р) {% endif %}</td><tr>
{% endif %}
{% endfor %}
</table>
{% endblock %}
